build/
subprojects/range-v3-*
subprojects/Catch2-*
subprojects/cpp_utils
subprojects/fmt-*
subprojects/hedley-*
subprojects/spdlog-*
subprojects/packagecache/*
*.srctrl*
*.kdev4
.vscode
*.pyc
*.swp
*.user
